@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/library/bootstrap-4.1.3.min.css">

        <link rel="stylesheet" href="/assets/stylesheets/main.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127156894-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-127156894-1');
        </script>
    </head>
    <body>
        @content

        <script src="/assets/library/jquery-3.3.1.js"></script>
        <script src="/assets/library/popper.min.js"></script>
        <script src="/assets/library/bootstrap.min.js"></script>
        <script src="/assets/library/holder.min.js"></script>
        <script src="/assets/library/handlebars-v4.0.12.js"></script>
        <script src="/assets/javascripts/throttle-debounce.js"></script>
        @scripts
    </body>
</html>
