@import repo.Pose
@import repo.Transition
@import helper._

@(pose: Pose,transFrom:List[Transition],transTo:List[Transition])(implicit request: RequestHeader)

@main_with_navbar("List Poses") {
    <div class="pose">
        <h2>@pose.name</h2>
        <a href="@routes.Poses.getEditPose(pose.pose_id.get)" class="btn btn-primary">Edit</a>
        <div><img src="@pose.image_url" class="primary-pose-img"></div>
        @if(pose.description_md != null){
            <p>@pose.description_md</p>
        }

        <h3>Transitions From This Pose</h3>
        <table class="table">
            <tr>
                <th>Name</th>

            </tr>
            @for(transition <- transFrom){
                <tr>
                    <td><a href="@routes.Transitions.get(transition.transition_id.get)">@transition.name</a></td>
                </tr>
            }
        </table>

        <h2>Transitions To This Pose</h2>
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            @for(transition <- transTo){
                <tr>
                    <td><a href="@routes.Transitions.get(transition.transition_id.get)">@transition.name</a></td>
                </tr>
            }
        </table>
        <a href="@routes.Poses.getEditPose(pose.pose_id.get)" class="btn btn-primary">Edit</a>
        <form action="@routes.Poses.postDeletePose(pose.pose_id.get)" method="post">
            <input type="submit" value="Delete" class="btn-danger">
            @CSRF.formField
        </form>
    </div>
}
