@import repo.Pose
@import repo.Transition
@(pose: Pose,transFrom:List[Transition],transTo:List[Transition])

@main_with_navbar("List Poses") {
    <div class="pose">
        <h2>@pose.name</h2>
        <img src="@pose.image_url" class="primary-pose-img">
        @if(pose.description_md != null){
            <p>@pose.description_md</p>
        }

        <h3>Transitions From This Pose</h3>
        <table class="table">
            <tr>
                <th>Name</th>

            </tr>
            @for(transition <- transFrom){
                <tr>
                    <td><a href="@routes.Transitions.get(transition.transition_id.get)">@transition.name</a></td>
                </tr>
            }
        </table>

        <h2>Transitions To This Pose</h2>
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            @for(transition <- transTo){
                <tr>
                    <td><a href="@routes.Transitions.get(transition.transition_id.get)">@transition.name</a></td>
                </tr>
            }
        </table>
    </div>
}
