@import repo.Transition
@import repo.Pose
@import helper._
@import util.YoutubeUrlParser
@(transition: Transition,fromPose:Pose,toPose:Pose)(implicit request: RequestHeader)

@main_with_navbar("Transition") {
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Transition: @transition.name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@routes.Transitions.getEditTransition(transition.transition_id.get)" class="nav-link">Edit</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"  action="@routes.Transitions.postDeleteTransition(transition.transition_id.get)" method="post">
                @CSRF.formField
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                onclick="return confirm('are you sure?')">Delete</button>
            </form>
        </div>
    </nav>

    @if(!transition.youtube_url.isEmpty){
        <iframe width="560" height="315" src="@YoutubeUrlParser.parseUrl(transition.youtube_url.get).embededUrl()"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    }

    <div>@transition.description_md</div>

    <div>From: <a href="@routes.Poses.get(fromPose.pose_id.get)">@fromPose.name</a></div>
    <div>To: <a href="@routes.Poses.get(toPose.pose_id.get)">@toPose.name</a></div>
}
