@import repo.Pose
@import repo.Transition
@import helper._

@()(implicit request: RequestHeader)

@main_with_navbar("List Poses") {
    <h3>New Transition</h3>
    <form action="@routes.Transitions.postNewTransition()" method="post">
        <div class="form-group">
            <label for="pose-name">Name</label>
            <input type="text" name="name" value="" class="form-control" id="pose-name" aria-describedby="pose-name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="pose-description">Description</label>
            <input type="text" name="description_md" value="" class="form-control" id="pose-description" placeholder="description">
        </div>
        <div class="form-group">
            <label for="youtube-url">Youtube Url</label>
            <input type="text" name="youtube_url" value="" class="form-control" id="youtube-url" placeholder="Youtube Url">
        </div>
        <div class="form-group">
            <label for="pose-from-id">From Posel</label>
            <input type="text" name="pose_from" value="" class="form-control" id="pose-from-id" placeholder="from pose(id)">
        </div>
        <div class="form-group">
            <label for="pose-to-id">To Posel</label>
            <input type="text" name="pose_to" value="" class="form-control" id="pose-to-id" placeholder="to pose(id)">
        </div>
        @CSRF.formField
        <button type="submit" class="btn btn-primary">Add New Transition</button>
    </form>
}
